.consent_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -40px 40px 80px -8px rgba(145, 158, 171, 0.24);
  width: 100%;
  max-width: 375px;
  z-index: 99999;

  img {
    height: auto;
    max-width: 130px;
  }
  @media (max-width: 768px) {
    max-width: 300px;
  }
  @media (max-width: 568px) {
    max-width: 268px;
    margin: 18px;
    padding: 16px;
    gap: 10px;
  }

  h2 {
    color: var(--text-light-primary, #212b36);
    font-family: publicsans_bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 8px 0;
    @media (max-width: 768px) {
      font-size: 18px;
     
    }
    @media (max-width: 568px) {
      line-height: normal;
    }
  }
  p {
    color: var(--text-light-primary, #212b36);
    text-align: center;
    font-family: publicsans_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 445px;
    margin: 0;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      font-size: 15px;
    }
  }
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-direction: column;

  button {
    &:nth-child(1) {
      display: flex;
      padding: 10px 22px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      border-radius: 8px;
      border: 1px solid #f8833d;
      background: #f8833d;
      color: var(--common-white, #fff);
      font-family: publicsans_bold;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      max-height: 48px;
      &:hover {
        background: #f8833d;
      }
    }

    &:nth-child(2) {
      display: flex;
      padding: 10px 22px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      border-radius: 8px;
      border: 1px solid rgba(248, 131, 61, 0.48);
      color: #f8833d;
      font-family: publicsans_bold;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      max-height: 48px;
      width: 100%;
    }
  }
}