.pop_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 24;
  display: flex;
  width: 100%;
  max-width: 943px;
  outline: none;
  @media (max-width: 1068px) {
    max-width: 750px;
  }
  @media (max-width: 768px) {
    max-width: 300px;
    flex-direction: column;
  }
}

.mail_left {
  display: flex;
  padding: 80px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 0px 0px 30px;
  border: 3px solid var(--common-white, #fff);
  background: var(--text-light-primary, #212b36);
  position: relative;
  @media (max-width: 768px) {
    padding: 24px 40px;
  }
  h3 {
    color: #f8833d;
    text-align: center;
    font-family: publicsans_bold;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  h2 {
    color: #f8833d;
    font-family: publicsans_bold;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 57px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 14px;
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    font-family: publicsans_medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    @media (max-width: 768px) {
      padding: 18;
    }
  }
  h6 {
    color: #fff;
    text-align: center;
    font-family: publicsans_medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
  }
  span {
    color: #fff;
    text-align: center;
    font-family: publicsans_medium;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative;

    sup {
      color: #fff;
      text-align: center;
      font-family: publicsans_medium;
      font-size: 56px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
    &::after {
      content: "off";
      color: #fff;
      text-align: center;
      font-family: publicsans_medium;
      font-size: 29px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      position: absolute;
      right: -6px;
      bottom: 15px;
    }
    @media (max-width: 768px) {
      sup {
        font-size: 26px;
      }
      &::after {
        font-size: 16px;
        bottom: 8px;
      }
      font-size: 50px;
    }
  }
}

.mail_right {
  display: flex;
  padding: 30px 42px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin: 45px 0;
  @media (max-width: 768px) {
    padding: 15px 42px;
    gap: 10px;
    margin: 0;
  }
  h5 {
    color: var(--text-light-primary, #212b36);
    text-align: center;
    font-family: publicsans_bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  input {
    display: flex;
    padding: 16px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid
      var(--components-input-outlined, rgba(145, 158, 171, 0.32));
    background: var(--grey-200, #f4f6f8);
    width: 95%;
  }

  button {
    display: flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #f8833d;
    color: var(--common-white, #fff);
    font-family: publicsans_bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    &:hover {
      background: #f8833d;
    }
  }
  p {
    color: var(--text-light-primary, #212b36);
    font-family: publicsans_bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

.close_icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}
