.hero_section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45dvh;
  h2 {
    color: var(--common-white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    margin-bottom: 14px;
  }
  @media (max-width: 568px) {
    h2 {
      font-size: 48px;
      line-height: 48px;
    }
  }
  @media (max-width: 468px) {
    h2 {
      margin-top: 80px;
      font-size: 36px;
      line-height: 36px;
    }
  }
}

.overlay_image {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    url("../../assets/images/about-hero.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breadcrumb_link {
  color: var(--common-white, #fff);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.our_story {
  display: flex;
  align-items: center;
  background: #e6f0e7;
  background-repeat: no-repeat;
  background-position: left bottom;
  align-items: flex-end;
  @media (max-width: 1068px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.story_image {
  height: 100%;
  width: 100%;
  display: flex;
  background: url("../../assets/images/story-overlay.png");
  background-repeat: no-repeat;
  background-position: bottom;
  align-items: flex-end;
  @media (max-width: 1068px) {
    max-width: 400px;
    max-height: 400px;
    background-size: contain;
    padding-top: 30px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 468px) {
    max-width: 300px;
    max-height: 300px;
  }
}

.our_story_content {
  padding: 96px 0;
  h3 {
    color: #016608;
    font-family: Oxanium;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h2 {
    color: #222;
    margin: 0;
    margin-bottom: 22px;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
  }
  hr {
    opacity: 0.28;
    border-color: #d46b74;
  }

  @media (max-width: 1068px) {
    padding: 30px 100px;
  }
  @media (max-width: 768px) {
    padding: 30px 24px;
  }
  @media (max-width: 468px) {
    h3 {
      font-size: 24px;
    }
    h2 {
      font-size: 36px;
      line-height: 46px;
    }
  }
}

.journey {
  h5 {
    color: var(--grey-900, #161c24);
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    margin-bottom: 9px;
  }
  p {
    margin: 0;
    color: var(--grey-900, #161c24);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.our_service {
  display: flex;
  justify-content: center;
  gap: 25px;
  background: #016608;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

.service_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 405px;
}

.service_image {
  border-radius: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.service_content {
  h5 {
    color: #f8833d;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    margin: 0;
  }
  p {
    color: #fff;

    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
  }
}