html {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
}

.custom-container {
  padding-left: calc((100% - 1310px) / 2);
  padding-right: calc((100% - 1310px) / 2);
  @media (max-width: 1368px) {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.ant-popover {
  .ant-popover-arrow {
    display: none;
  }
}

.primary-button {
  display: flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #2e9936;
  border: none;
  outline: none;
  color: #fff;
  height: 100%;
  max-height: 48px;
  width: 100%;
  max-width: 97px;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  &:hover {
    color: #d6d6d6 !important;
  }
}
