.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay_image {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
      url("../../assets/images/hero-image.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
  }
  
  .offer_content {
    width: 100%;
    padding-top: 172px;
    padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1068px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1068px) {
    padding-top: 152px;
    padding-bottom: 90px;
  }
  }
  
  .offer_left {
    h3 {
      color: #f8833d;
      font-family: Oxanium;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h2 {
      color: #fff;
      leading-trim: both;
      text-edge: cap;
      font-family: Playfair Display;
      font-size: 120px;
      font-style: normal;
      font-weight: 800;
      line-height: 129px; /* 107.5% */
      margin-top: 28px;
      margin-bottom: 56px;
      max-width: 605px;
      span {
        color: #fff;
        leading-trim: both;
        text-edge: cap;
        font-family: PoetsenOne;
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: 129px;
      }
    }
    button {
      display: flex;
      padding: 10px 22px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #f8833d;
      color: #fff;
      outline: none;
      border: none;
      width: 100%;
      max-width: 116px;
      height: 100%;
      max-height: 46px;
    color: var(--common-white, #fff);
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 100%;
    max-width: 150px;
    &:hover {
      background: #d06d36;
    }
    @media (max-width: 768px) {
      h2 {
        font-size: 95px;
        line-height: 95px;
        margin-top: 11px;
        margin-bottom: 34px;
        span {
          font-size: 95px;
          line-height: 95px;
        }
      }
    }
  
    @media (max-width: 568px) {
      h2 {
        font-size: 70px;
        line-height: 80px;
        margin-top: 11px;
        margin-bottom: 30px;
        span {
          font-size: 70px;
          line-height: 80px;
        }
      }
    }
  }
  
  .offer_price {
    background: url("../images/offer-price.svg");
    background-repeat: no-repeat;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 216px;
    min-height: 210px;
    max-height: 210px;
    p {
      text-align: center;
      font-family: Playfair Display;
      font-size: 26px;
      font-style: normal;
      font-weight: 800;
      line-height: 26px; /* 246.154% */
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 0;
    }
    span {
      color: #222;
      font-family: Oswald;
      font-size: 58px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
    }
    @media (max-width: 568px) {
      background-size: 174px;
      min-width: 174px;
      min-height: 174px;
      span {
          font-size: 46px;
          line-height: 46px;
      }
    }
  }
}