.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    img {
      padding-bottom: 10px;
    }
  }
  
  .actions {
    button {
      display: flex;
      padding: 7px 14px;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 8px;
      border: 1px solid #f8833d;
      background: #f8833d;
      color: var(--common-white, #fff);
      font-family: Oxanium;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      max-width: 255px;
      img {
          padding-bottom: 0;
      }
      &:hover {
        background: #d06d36;
      }
    }
  }
  
  .content {
    width: 100%;
    h5 {
      margin: 0;
      color: #222;
      font-family: Oxanium;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
  }
  
  .price_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      margin: 0;
      color: #016608;
      font-family: Oxanium;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 112% */
    }
  }
  
  .rating_section {
    color: #faaf00;
  }
  
  .foodType {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }