.hero_section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.overlay_image {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    url("/images/about-hero.webp");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb_link {
  color: var(--common-white, #fff);
  font-family: publicsans_regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.form_container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 1268px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    color: #222;
    font-family: playfairdisplay_bold;
    max-width: 595px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
  }
  input {
    display: flex;
    width: 100%;
    max-width: 565px;
    padding: 16px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid
      var(--components-input-outlined, rgba(145, 158, 171, 0.32));
    overflow: hidden;
    color: var(--text-light-disabled, #919eab);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: publicsans_regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  button {
    display: flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #016608;
    max-width: 142px;
    color: #fff;
    &:hover {
      background: #016608;
    }
  }
}

.form_map {
  width: 100%;
  height: 100%;
  max-width: 595px;
  max-height: 640px;
}

.custom_map {
  width: 100%;
  height: 100%;
  min-width: 595px;
  min-height: 640px;
  z-index: 0;
  @media (max-width: 768px) {
    min-width: 300px;
    min-height: 300px;
  }
}

.contact_info {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-lighter, #ffe4a6);
  gap: 16px;
  @media (max-width: 1368px) {
    flex-direction: column;
    align-items: center;
  }
}

.info_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info_icon {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #f8833d;
}

.info {
  span {
    color: #222;
    font-family: publicsans_regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  h5 {
    color: #222;
    font-family: publicsans_bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
  }
}
