
@font-face {
    font-family: montserrat_medium;
    src: url('/fonts/Montserrat-Medium.ttf');
    font-display: swap
}

@font-face {
    font-family: oxanium_bold;
    src: url('/fonts/Oxanium-Bold.ttf');
    font-display: swap
}

@font-face {
    font-family: oxanium_medium;
    src: url('/public/fonts/Oxanium-Medium.ttf');
    font-display: swap
}

@font-face {
    font-family: oxanium_regular;
    src: url('/fonts/Oxanium-Regular.ttf');
    font-display: swap
}

@font-face {
    font-family: playfairdisplay_bold;
    src: url('/fonts/PlayfairDisplay-Bold.ttf');
    font-display: swap
}

@font-face {
    font-family: playfairdisplay_medium;
    src: url('/fonts/PlayfairDisplay-Medium.ttf');
    font-display: swap
}

@font-face {
    font-family: poetsenone;
    src: url('/fonts/PoetsenOne-Regular.ttf');
    font-display: swap
}

@font-face {
    font-family: publicsans_bold;
    src: url('/fonts/PublicSans-Bold.ttf');
    font-display: swap
}

@font-face {
    font-family: publicsans_medium;
    src: url('/fonts/PublicSans-Medium.ttf');
    font-display: swap
}

@font-face {
    font-family: publicsans_regular;
    src: url('/fonts/PublicSans-Regular.ttf');
    font-display: swap
}

@font-face {
    font-family: oswald_bold;
    src: url('/fonts/Oswald-Bold.ttf');
    font-display: swap
}