html {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
}

.custom-container {
  padding-left: calc((100% - 1158px) / 2);
  padding-right: calc((100% - 1158px) / 2);
}