.policy_wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    color: var(--text-light-primary, #212b36);
    font-family: publicsans_bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
  }
}

.info_wrapper {
  font-family: publicsans_medium;
  color: inherit;
  font-size: 18px;
  line-height: 1.55;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 0;
}

